# Исключаем файлы и папки Visual Studio
.vs/
.vscode/

# Исключаем скомпилированные файлы
bin/
obj/

# Исключаем файлы системы (Windows/macOS)
Thumbs.db
.DS_Store

# Исключаем файлы конфигурации среды разработки
.idea/
